#form{
    margin: 300px 0 0 600px;
}
#react{
    background-color: white;
    border-radius: 5px
}
.user{
    font-size: 24px;
}
.avatar{
    border-radius: 10px;
}
.form2{
    margin: 10px 0 0 650px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
figcaption{
    font-weight: bold;
    color: rgb(83, 83, 184);
}
div{
    color: black;
    font-weight: normal
}
h4{
    color: rgb(83, 83, 184);
    font-weight: bold;
}
button{
    font-weight: bold;
    background-color: rgb(83, 83, 184);
    color: white;
    border-radius: 5px;
}